<CascadingAuthenticationState>
    <AuthorizeView Policy="@Constants.AdminPolicy">
        <PageTitle>Blace.Server</PageTitle>

        <div class="page">
            <main>
                <article class="content px-4">
                    <PlaceManagerPage />
                </article>
            </main>
        </div>
    </AuthorizeView>
</CascadingAuthenticationState>